
<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth dashboard-header not-sticky" >

<!-- Header -->
<div id="header">
<div class="container">

<!-- Left Side Content -->

<div class="left-side">
	
	<!-- Logo -->
	<div id="logo">
		<a href="index.html"><img src="../../assets/images/logo.png" alt=""></a>
	</div>

	<!-- Main Navigation -->
	<nav id="navigation">
		<ul id="responsive">

			<li><a href="#" class="current"  >{{'Home' | translate}}</a></li>

			<li><a routerLink="/client-dash" > {{'Find work' | translate }}</a></li>

			<li><a href="#"  >{{'For Employers' | translate }}</a></li>

			<li><a href="#"  >{{'Browse projects' | translate }}</a></li>

			<li><a href="#"  >{{'Browse Freelancers' | translate }}</a></li>

		</ul>
	</nav>

	
	 
	<div class="clearfix"></div>
	<!-- Main Navigation / End -->
	
</div>
<!-- Left Side Content / End -->


 
<!-- Right Side Content / End Without Connection -->
<div class="right-side" >
	<div class="header-widget">
		<span class="form-inline">
			<select 
				class="form-control" 
				#selectedLang 
				(change)="switchLang(selectedLang.value)">
			  <option *ngFor="let language of translate.getLangs()" 
				[value]="language"
				[selected]="language === translate.currentLang">
				{{ language }}
			  </option>
			</select>
		  </span>
	
	</div>
	
	<div class="header-widget">
		<a [routerLink]="'/login' " class="popup-with-zoom-anim log-in-button"><i class="icon-feather-log-in"></i> <span>{{'Log In / Register' | translate }}</span></a>
	</div>
 

</div>
 
</div>
</div>

 
<!-- Header / End -->

</header>
<div class="clearfix"></div>
 
 