
<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth dashboard-header not-sticky" >

  <!-- Header -->
  <div id="header">
  <div class="container">
  
  <!-- Left Side Content -->
  
  <div class="left-side">
    
    <!-- Logo -->
    <div id="logo">
      <a href="index.html"><img src="../../assets/images/logo.png" alt=""></a>
    </div>
  
    <!-- Main Navigation -->
    <nav id="navigation">
      <ul id="responsive">
  
        <li><a href="#" class="current">Test</a></li>
        <li><a>Test</a></li> 
      </ul>
    </nav>
  
    
     
    <div class="clearfix"></div>
    <!-- Main Navigation / End -->
    
  </div>
  <!-- Left Side Content / End -->
  
  
 
   
  </div>
  </div>
  
   
  <!-- Header / End -->
  
  </header>
  <div class="clearfix"></div>
   
   