 <!-- Wrapper -->
 <div id="wrapper">
	<app-header-login></app-header-login>
<div class="dashboard-container">
    <div class="dashboard-sidebar">
        <app-sidebar></app-sidebar>
    </div>
	 <div class="dashboard-content-container">
<!-- Dashboard Content
	================================================== -->
	
		<div class="dashboard-content-inner" >
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>Settings</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li>Dashboard</li>
						<li>Settings</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
						</div>
						<form action="post" [formGroup]="editForm" (ngSubmit)="edit()"  id="edit-form">
						<div class="content with-padding padding-bottom-0">

							<div class="row">

								<div class="col-auto">
									<div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Photo">
										<img class="profile-pic" src="images/user-avatar-placeholder.png" alt="" />
										<div class="upload-button"></div>
										<input class="file-upload" type="file" accept="image/*"/>
									</div>
								</div>

								<div class="col">
									<div class="row">
										
										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Pseudo</h5>
												<input type="text" class="with-border" formControlName="pseudo" name="pseudo"   >
											</div>
										</div>

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Nom</h5>
												<input type="text" class="with-border" formControlName="nom" name="nom"  >
											</div>
										</div>

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Prénom</h5>
												<input type="text" class="with-border" formControlName="prenom" name="prenom"  >
											</div>
										</div>

										 

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Email</h5>
												<input type="text" class="with-border" formControlName="email" name="email" value={{email}}>
											</div>
										</div>

										<div class="col-xl-6">
											<div class="submit-field">
												<h5>Telephone</h5>
												<input type="text" class="with-border" formControlName="telephone" name="telephone" value={{telephone}} >
											</div>
										</div>

									</div>
								</div>
							</div>

						</div>
					</form>
					</div>
				</div>

				 
				<!-- Changer Password 
				 
				<div class="col-xl-12">
					<div id="test1" class="dashboard-box">

						 
						<div class="headline">
							<h3><i class="icon-material-outline-lock"></i> Password & Security</h3>
						</div>

						<div class="content with-padding">
							<div class="row">
								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Current Password</h5>
										<input type="password" class="with-border">
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>New Password</h5>
										<input type="password" class="with-border">
									</div>
								</div>

								<div class="col-xl-4">
									<div class="submit-field">
										<h5>Repeat New Password</h5>
										<input type="password" class="with-border">
									</div>
								</div>

								<div class="col-xl-12">
									<div class="checkbox">
										<input type="checkbox" id="two-step" checked>
										<label for="two-step"><span class="checkbox-icon"></span> Enable Two-Step Verification via Email</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			-->
				
				<!-- Button -->
				<div class="col-xl-12">
					<button type="submit" form="edit-form" class="button ripple-effect big margin-top-30">Save Changes</button>
				</div>

			</div>
			<!-- Row / End -->

			<!-- Footer -->
			<div class="dashboard-footer-spacer"></div>
			<div class="small-footer margin-top-15">
				<div class="small-footer-copyrights">
					© 2021 <strong>Bricol</strong>. All Rights Reserved.
				</div>
				<ul class="footer-social-links">
					<li>
						<a href="#" title="Facebook" data-tippy-placement="top">
							<i class="icon-brand-facebook-f"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Twitter" data-tippy-placement="top">
							<i class="icon-brand-twitter"></i>
						</a>
					</li>
					<li>
						<a href="#" title="Google Plus" data-tippy-placement="top">
							<i class="icon-brand-google-plus-g"></i>
						</a>
					</li>
					<li>
						<a href="#" title="LinkedIn" data-tippy-placement="top">
							<i class="icon-brand-linkedin-in"></i>
						</a>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<!-- Footer / End -->

		</div>
	</div>
	<!-- Dashboard Content / End -->
	</div>
	</div>