<div class="dashboard-sidebar-inner"  >
    <div class="dashboard-nav-container">

        <!-- Responsive Navigation Trigger -->
        <a href="#" class="dashboard-responsive-nav-trigger">
            <span class="hamburger hamburger--collapse" >
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </span>
            <span class="trigger-title"  i18n>Dashboard Navigation</span>
        </a>
        
        <!-- Navigation -->
        <div class="dashboard-nav">
            <div class="dashboard-nav-inner">

                <ul data-submenu-title="Start">
                    <li><a routerLinkActive="active" routerLink="/freelancer-dash"  i18n><i class="icon-material-outline-dashboard"></i> Dashboard</a></li>
                    <li><a routerLinkActive="active" routerLink="/freelancer-message"  i18n><i class="icon-material-outline-question-answer"></i> Messages <span class="nav-tag">2</span></a></li>
                </ul>
                
                <ul data-submenu-title="Portfolio">
                    
                            <li><a routerLinkActive="active" routerLink="/portfolio-post"  i18n><i class="icon-material-outline-business-center"></i> Nouveau portfolio</a></li>
                            <li><a routerLinkActive="active" routerLink="/portfolio-freelancer"  i18n><i class="icon-feather-bookmark"></i> Nos Portfolios <span class="nav-tag">3</span></a></li>
                        
                     
                     
                </ul>

                <ul data-submenu-title="Profil">
                    <li><a routerLinkActive="active" routerLink="/porfil-freelancer"  i18n><i class="icon-material-outline-settings"></i> Settings</a></li>                </ul>
                
            </div>
        </div>
        <!-- Navigation / End -->

    </div>
</div>

