<!-- Highest Rated Freelancers -->
<div class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix">
	<div class="container">
		<div class="row">

			<div class="col-xl-12">
				<!-- Section Headline -->
				<div class="section-headline margin-top-0 margin-bottom-25">
					<h3>{{ 'Highest Rated Freelancers' | translate }}</h3>
					<a href="freelancers-grid-layout.html" class="headline-link">{{ 'Browse All Freelancers' | translate }}</a>
				</div>
			</div>

			<div class="col-xl-12">
				<div class="default-slick-carousel freelancers-container freelancers-grid-layout">

					<!--Freelancer -->
					<div class="freelancer">

						<!-- Overview -->
						<div class="freelancer-overview">
							<div class="freelancer-overview-inner">
								
								<!-- Bookmark Icon -->
								<span class="bookmark-icon"></span>
								
								<!-- Avatar -->
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									 <img src="{{freelancers[0].filename}}" alt="">
								</div>

								<!-- Name -->
								<div class="freelancer-name">
									<h4><a [routerLink]="[ '/freelancer', freelancers[0].id ]">{{freelancers[0].nom}} {{freelancers[0].prenom}}<img class="flag" src="images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
									 
								</div>

								<!-- Rating -->
								<div class="freelancer-rating">
									<div class="star-rating" data-rating="5.0"></div>
								</div>
							</div>
						</div>
						
						<!-- Details -->
						<div class="freelancer-details">
							<div class="freelancer-details-list">
								<ul>
									<li>{{ 'Location' | translate }} <strong><i class="icon-material-outline-location-on"></i>{{freelancers[0].ville}}</strong></li>
								
									<li>{{'Telephone' | translate }} <strong>{{freelancers[0].telephone}}</strong></li>
								</ul>
							</div>
							<a [routerLink]="[ '/freelancer', freelancers[0].id ]" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>
					<!-- Freelancer / End -->

					<!--Freelancer -->
					<div class="freelancer">

						<!-- Overview -->
						<div class="freelancer-overview">
							<div class="freelancer-overview-inner">
								
								<!-- Bookmark Icon -->
								<span class="bookmark-icon"></span>
								
								<!-- Avatar -->
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a [routerLink]="[ '/freelancer', freelancers[1].id ]"><img src="{{freelancers[1].filename}}" alt=""></a>
								</div>

								<!-- Name -->
								<div class="freelancer-name">
									<h4><a [routerLink]="[ '/freelancer', freelancers[1].id ]">{{freelancers[1].nom}} {{freelancers[1].prenom}} <img class="flag" src="images/flags/de.svg" alt="" title="Germany" data-tippy-placement="top"></a></h4>
									 
								</div>

								<!-- Rating -->
								<div class="freelancer-rating">
									<div class="star-rating" data-rating="5.0"></div>
								</div>
							</div>
						</div>
						
						<!-- Details -->
						<div class="freelancer-details">
							<div class="freelancer-details-list">
								<ul>
									<li>{{ 'Location' | translate }} <strong><i class="icon-material-outline-location-on"></i>{{freelancers[1].ville}}</strong></li>
									
									<li>{{ 'Telephone' | translate }} <strong>{{freelancers[1].telephone}}</strong></li>
								</ul>
							</div>
							<a 	 [routerLink]="[ '/freelancer', freelancers[1].id ]" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>
					<!-- Freelancer / End -->

					<!--Freelancer -->
					<div class="freelancer">

						<!-- Overview -->
						<div class="freelancer-overview">
							<div class="freelancer-overview-inner">
								
								<!-- Bookmark Icon -->
								<span class="bookmark-icon"></span>
								
								<!-- Avatar -->
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a 	 [routerLink]="[ '/freelancer', freelancers[2].id ]"><img src="{{freelancers[2].filename}}" alt=""></a>
								</div>

								<!-- Name -->
								<div class="freelancer-name">
									<h4><a [routerLink]="[ '/freelancer', freelancers[2].id ]">{{freelancers[2].nom}} {{freelancers[2].prenom}}<img class="flag" src="images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
									 
								</div>

								<!-- Rating -->
								<div class="freelancer-rating">
									<div class="star-rating" data-rating="5.0"></div>
								</div>
							</div>
						</div>
						
						<!-- Details -->
						<div class="freelancer-details">
							<div class="freelancer-details-list">
								<ul>
									<li>{{ 'Location' | translate }} <strong><i class="icon-material-outline-location-on"></i>{{freelancers[2].ville}}</strong></li>
									
									<li>{{'Telephone' | translate }}<strong>{{freelancers[2].telephone}}</strong></li>
								</ul>
							</div>
							<a [routerLink]="[ '/freelancer', freelancers[2].id ]" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>
					<!-- Freelancer / End -->

					<!--Freelancer -->
					<div class="freelancer">

						<!-- Overview -->
						<div class="freelancer-overview">
							<div class="freelancer-overview-inner">
								
								<!-- Bookmark Icon -->
								<span class="bookmark-icon"></span>
								
								<!-- Avatar -->
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a 	 [routerLink]="[ '/freelancer', freelancers[3].id ]"><img src="{{freelancers[3].filename}}" alt=""></a>
								</div>

								<!-- Name -->
								<div class="freelancer-name">
									<h4><a [routerLink]="[ '/freelancer', freelancers[3].id ]">{{freelancers[3].nom}} {{freelancers[3].prenom}}<img class="flag" src="images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
									 
								</div>

								<!-- Rating -->
								<div class="freelancer-rating">
									<div class="star-rating" data-rating="5.0"></div>
								</div>
							</div>
						</div>
						
						<!-- Details -->
						<div class="freelancer-details">
							<div class="freelancer-details-list">
								<ul>
									<li>{{ 'Location' | translate }}<strong><i class="icon-material-outline-location-on"></i>{{freelancers[3].ville}}</strong></li>
									
									<li>{{'Telephone' | translate }}<strong>{{freelancers[3].telephone}}</strong></li>
								</ul>
							</div>
							<a [routerLink]="[ '/freelancer', freelancers[3].id ]" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>
					<!-- Freelancer / End -->
					
					<!--Freelancer -->
					<div class="freelancer">

						<!-- Overview -->
						<div class="freelancer-overview">
							<div class="freelancer-overview-inner">
								
								<!-- Bookmark Icon -->
								<span class="bookmark-icon"></span>
								
								<!-- Avatar -->
								<div class="freelancer-avatar">
									<div class="verified-badge"></div>
									<a 	 [routerLink]="[ '/freelancer', freelancers[4].id ]"><img src="{{freelancers[4].filename}}" alt=""></a>
								</div>

								<!-- Name -->
								<div class="freelancer-name">
									<h4><a [routerLink]="[ '/freelancer', freelancers[4].id ]">{{freelancers[4].nom}} {{freelancers[4].prenom}}<img class="flag" src="images/flags/gb.svg" alt="" title="United Kingdom" data-tippy-placement="top"></a></h4>
									 
								</div>

								<!-- Rating -->
								<div class="freelancer-rating">
									<div class="star-rating" data-rating="5.0"></div>
								</div>
							</div>
						</div>
						
						<!-- Details -->
						<div class="freelancer-details">
							<div class="freelancer-details-list">
								<ul>
									<li>{{ 'Location' | translate }}<strong><i class="icon-material-outline-location-on"></i>{{freelancers[4].ville}}</strong></li>
					
									<li>{{'Telephone' | translate }}<strong>{{freelancers[4].telephone}}</strong></li>
								</ul>
							</div>
							<a [routerLink]="[ '/freelancer', freelancers[4].id ]" class="button button-sliding-icon ripple-effect">{{'View Profile' | translate }} <i class="icon-material-outline-arrow-right-alt"></i></a>
						</div>
					</div>
					<!-- Freelancer / End -->
								
					 


				</div>
			</div>

		</div>
	</div>
</div>
<!-- Highest Rated Freelancers / End-->