 <!-- Wrapper -->
 <div id="wrapper">
	<app-header></app-header>
<app-slider></app-slider>
<app-category></app-category>
<app-top-freelancer></app-top-freelancer>
<app-statistic></app-statistic>
<app-testimonial></app-testimonial>

<!-- Photo Section -->
<div class="photo-section" data-background-image="../../assets/images/section-background.jpg">

	<!-- Infobox -->
	<div class="text-content white-font">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-md-8 col-sm-12">
					<h2>Proposez vos compétences <br> de bricoleurs à domicile en quelques clics</h2>
					<p>Bricolage, plomberie, menuiserie,<br> recherchez des missions pour vous !</p>
					<a href="pages-pricing-plans.html" class="button button-sliding-icon ripple-effect big margin-top-20">Commencer <i class="icon-material-outline-arrow-right-alt"></i></a>
				</div>
			</div>

		</div>
	</div>

	<!-- Infobox / End -->

</div>
<app-how-work></app-how-work>
<app-footer></app-footer>
</div>